@import url('https://fonts.googleapis.com/css?family=Raleway:400;700|Permanent+Marker:400');


:root {
  --red-orange-0: #190b05;
  --red-orange-1: #3d1307;
  --red-orange-2: #601b0a;
  --red-orange-3: #84240c;
  --red-orange-4: #a72c0e;
  --red-orange-5: #cb3411;
  --red-orange-6: #ee3c13;
  --red-orange-7: #fe562f;
  --red-orange-8: #fe7d5e;
  --red-orange-9: #ffa48e;
  --red-orange-10: #ffccbe;
  --red-orange-11: #fff3ee;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {font-size: 100%;} /*16px*/


/*---------- LIGHT / DARK---------- */

body {
  --bgc-color: #190b05;
  --card-color: #3d1307;
  --stats-color: #fffefd;
  --logo-color: #fffefd;
  --stats-color: #fe7d5e;
  --bio-color: #ffffff;
  --btn-color: #ee3c13;

  background-color: var(--bgc-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #000000;
}

body.light {
  --bgc-color: #fff3ee;
  --card-color: #fefefe;
  --bio-color: #fe7d5e;
  --icon-color: #fe562f;
  --stats-color: #bbbbbb;
  --logo-color: black;
  --theme-filter: invert(0%) sepia(100%) saturate(15%) hue-rotate(237deg)
    brightness(99%) contrast(104%);
  background-color: var(--bgc-color);
}




a {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {

  font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  
}




.error {
  color: red;
  padding-right: 10px;
}

.available {
  color: var(--bio-color);
}

.not-available {
  color: var(--stats-color);
}



